/*Importación de fuente*/
/*Fuente a utilizar descargada de google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap');

/*Estilo base*/
*{  width: 100%;
    
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Sen', sans-serif;
}
body{
        
    margin:auto;
    height: fit-content;
    background: #252422;
    background: linear-gradient(180deg, #252422 43%, rgba(235,94,40,1) 100%);

    .barra{background-color: #EB5E28;
        width: 100%;
        height: 3%;
        position: absolute;}
    .presentacion{
        width: 100%;
        background-color: #252422;
        padding: 20px;
        height: fit-content;
        margin-top: 20px;
        h1{ text-align: center;
            color:#EB5E28;
            font-size: 2em;
            padding: 1rem;
        }
        h2{ color:#FFFCF2;
            text-align: center;
            font-size: 1.5em;
            font-weight: bold;
            
        }
    }
        .container{
            background-color: #252422;
            color:#FFFCF2;

            .col-4{
                border:white solid 1px;
            }
            .col-8{
                border:white solid 1px;
            }
        }
        
        .accordion{
            font-size: 0.7rem;
            color: #FFFCF2;
            background-color: #EB5E28;
            
        }
        .accordion-button{
            
            text-align: left;
            padding:10px;
            color: #FFFCF2;
            background-color: #EB5E28;
            border:none;
            margin-bottom: 5px;
            margin-top: 5px;
        }
}