/*Importación de fuente*/
/*Fuente a utilizar descargada de google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap');

/*Estilo base*/
*{  width: 100%;
    
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Sen', sans-serif;
}
body{
        
    margin:auto;
    height: fit-content;
    background: #10002B;
    background: linear-gradient(180deg, #10002B 43%, rgba(60, 9, 108) 100%);

    .barra{background-color: #7B2CBF;
        width: 100%;
        height: 3%;
        position: absolute;}
    .presentacion{
        width: 100%;
        background-color: #10002B;
        padding: 20px;
        height: fit-content;
        margin-top: 20px;
        h1{ text-align: center;
            color:#C77DFF;
            font-size: 2em;
            padding: 1rem;
        }
        h2{ color:#E0AAFF;
            text-align: center;
            font-size: 1.5em;
            font-weight: bold;
            
        }
    }
        .container{
            background-color: #10002B;
            color:#E0AAFF;

            .col-4{
                border:white solid 1px;
            }
            .col-8{
                border:white solid 1px;
            }
        }
        
        .accordion{
            font-size: 0.7rem;
            color: #E0AAFF;
            background-color: #7B2CBF;
            
        }
        .accordion-button{
            font-size: 1.2rem;
            text-align: left;
            padding:10px;
            color: #E0AAFF;
            background-color: #7B2CBF;
            border:none;
            margin-bottom: 5px;
            margin-top: 5px;
        }
}